{% extends "base.html" %}

{% block content %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">User Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">User Dashboard</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Users with # as Run Number
            </div>
            <div class="card-body">
                <table id="userTable">
                    <thead>
                        <tr>
                            <th>Student ID</th>
                            <th>Prefix</th>
                            <th>Firstname</th>
                            <th>Lastname</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Data will be added here later -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock content %}